.jumbotron
	%h1 Wildfires	
	<a class="btn btn-primary" href="/" role="button">Wildfires home »</a>
	<a class="btn btn-primary" href="/wildfires/new" role="button">Add a wildfire »</a>

<div class="container">

- @wildfires.each do |w|
	<div class="col-lg-2">
	<b> Category:</b>
	<b>#{w.category}</b>
	%br
	Status:
	= w.status
	%br
	= w.location.county
	= "County," 
	= w.location.state
	%br
	<button type="button" class="btn btn-xs btn-primary">Details</button>
	- if w.fire_pic?
		<a class="btn btn-xs btn-danger" href="/wildfires/#{w.id}" role="button">Fire Pic »</a>
		
	%br
	%br
	</div>
</div>



