.jumbotron
	%h1 Locations	
	<a class="btn btn-primary" href="/locations" role="button">Locations home »</a>
	<a class="btn btn-primary" href="/wildfires/new" role="button">Add a wildfire »</a>

<div class="page-header">

= f.label :state
= f.text_field :state

= f.label :county
= f.text_field :county

= f.label :agency
= f.text_field :agency

= f.submit "Add Location"

</div>