%h1 Locations

- @locations.each do |l|
	<b> State:
	= l.state
	%br
	County:
	= l.county
	%br
	Agency:
	= l.agency
	%br
	= " ---------- "	
	- l.wildfires.each do |n|
		%br </b>
		Wildfire Category:
		= n.category
		%br
		Wildfire Status:
		= n.status
		%br

	%br
	%br

=link_to "Add a location", "locations/new"

= form_tag(search_locations_path, method: "get") do
	= label_tag("Find a state / county:")
	= select_tag :search_state, options_for_select(Location.uniq.pluck(:state))
	= select_tag :search_county, options_for_select(Location.uniq.pluck(:county))
	= submit_tag "Search"



