.jumbotron
	%h1 Locations	
	<a class="btn btn-primary" href="/" role="button">Wildfires home »</a>
	<a class="btn btn-primary" href="/locations/new" role="button">Add a location »</a>

<div class="container">

- @locations.each do |l|
	<div class="col-lg-2">
	<b> State:
	= l.state
	%br
	County:
	= l.county
	%br
	Agency:
	= l.agency
	%br

	%br
	%br
	</div>
</div>

<div class="container">

= form_tag(search_locations_path, method: "get") do
	= label_tag("Find a state / county:")
	= select_tag :search_state, options_for_select(Location.uniq.pluck(:state))
	= select_tag :search_county, options_for_select(Location.uniq.pluck(:county))
	= submit_tag "Search"

</div>
