.jumbotron
	%h1 Locations
	<a class="btn btn-primary" href="/" role="button">Wildfires home »</a>
	<a class="btn btn-primary" href="/locations" role="button">Back to locations »</a>

<div class="container">
<div class="col-lg-2">
%ul
- @search_results.each do |s|
	State:
	= s.state
	%br
	County:
	= s.county
	%br
	Agency:
	= s.agency
	%ul

	- s.wildfires.each do |wf|
		Wildfire Category:
		= wf.category
		%br
		Wildfire Status:
		= wf.status
		%br
		%br
</